<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Properties>
        <Property name="logPattern">
            %d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c{1} - %msg%n
        </Property>
    </Properties>

    <Appenders>

        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>

        <!-- Rolling File -->
        <RollingFile
            name="File"
            fileName="logs/framework.log"
            filePattern="logs/framework-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="${logPattern}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10"/>

        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Your framework logs -->
        <Logger name="tests" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="factory" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="utils" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="listeners" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Third-party libraries -->
        <Logger name="org.openqa.selenium" level="WARN"/>
        <Logger name="org.testng" level="WARN"/>

        <!-- Root -->
        <Root level="WARN">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

    </Loggers>

</Configuration>